<section class="section">
    <div class="container">

        <img src="{{ article.image }}" alt="" srcset="">
        <h1 class="title">{{article.title}}</h1>
        <p>{{article.content}}</p>

    </div>

</section>