<section class="section">
    <div class="container">


        <!--<div class="control">
            <button class="button is-link">Editer</button>
        </div>-->

        <div contenteditable="true">
            <h1 class="title">{{article.title}}</h1>
            <p>{{article.content}}</p>
        </div>
    </div>
</section>