<section class="section">
    <div class="container is=fullhd">
        <div class="field">
            <!----Ne pas oublier de rajouter l'url et la méthode. "multipart/form-data" sert à prendre en compte le jpeg--->
            <form action="method=PUT" method="POST" enctype="multipart/form-data">
                <label class="label">Titre de l'article</label>
                <div class="control">
                    <input class="input" type="text" name="title">
                </div>
        </div>

        <div class="field">
            <label class="label">Contenu</label>
            <div class="control">
                <form>
                    <textarea name="editor1" id="editor1" rows="10" cols="80">
            </textarea>
                    <script>
                        CKEDITOR.replace('editor1');
                    </script>
                </form>
            </div>
        </div>

        <div class="file">
            <label class="file-label">
                <input class="file-input" type="file" name="image">
                <span class="file-cta">
                    <span class="file-icon">
                        <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                        Envoyer une image au format : jpg
                    </span>
                </span>
            </label>
        </div>

        <div class="field is-grouped">
            <div class="control">
                <button class="button is-link">Enregister</button>
            </div>
            <div class="control">
                <button class="button is-text">Annuler</button>
            </div>
            </form>
        </div>
    </div>
</section>